<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
      <section>
        <form method="POST" action="/api/v1/gallery" enctype="multipart/form-data">
          <input type="file" class="admin__input" id="image" name="image"  accept="image/*" required>
          <button type="submit">Upload</button>
        </form>
      </section>
    </main>
    <hr>
</body>
</html>